{% extends 'base.html' %}
{% block title %}Index page{% endblock %}

{% block template %}
    {% include 'navbar.html' %}
    {% include 'components/splash.html' %}

    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-lg-8">
                {% include 'components/post-list-elements.html' %}
            </div>
            <div class="d-none d-lg-block col-4">
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}