<style>
    p {
        font-family: 'Merriweather', sans-serif;
        line-height: 22px;
    }

</style>

{% for post in posts %}

    <a href="{{ post.get_absolute_url }}" class="text-decoration-none">
    {% if forloop.last and page_obj.has_next %}
        <div class="card border-0 pb-3 pb-sm-5 color" hx-get="{{ request.get_full_path }}&page={{ page_obj.number|add:1 }}"
             hx-trigger="revealed" hx-swap="afterend">
    {% else %}
        <div class="card border-0 pb-3 pb-sm-5 color">
    {% endif %}
        <div class="row">
            <div class="col-9">
                <div class="card-body p-0">
                    <div class="pb-2 text-body infscroll-author small">{{ post.author }}</div>
                    <h1 class="mb-1 text-body fw-bold infscroll-title">{{ post.title|truncatechars:80 }}</h1>
                    <p class="d-none d-sm-block fs-14 text-dark">{{ post.content|truncatechars:180 }}</p>
                </div>
            </div>
            <div class="col-3">
                <img src="https://picsum.photos/205/115" class="img-fluid float-end" alt="img">
            </div>
        </div>
        </div>
    </a>
{% endfor %}