{% extends 'base.html' %}

{% block template %}
    <style>
        @media only screen and (min-width: 992px) {
            .col-navbar {
                flex: 0 0 80px;
                display: flex;
                justify-content: center;
                border-right: 1px solid #dee2e6;
                height: 100vh;
            }
        }


    </style>

    <div class="container" style="max-width: 1500px!important;">
        <div class="row">
            <div class="col-navbar">
                {% block content-left %}{% endblock %}
            </div>
            <div class="col-12 col-lg-8 pt-5 px-4 px-md-5">
                {% block content-mid %}{% endblock %}
            </div>
            <div class="d-none d-lg-block col-lg-3 pt-5 ps-4 border-start">
                {% include 'components/search-bar.html' %}
                {% block content-right %}{% endblock %}
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
{% endblock %}