<style>
    .footer .nav-link {
        padding: 0 10px 5px 0;
    }
    .footer a {
        color: inherit;
    }
</style>

<footer>
    <ul class="nav fw-500 fs-12 footer">
        <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Status</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Writers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
        </li>
                <li class="nav-item">
            <a class="nav-link" href="#">Careers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Terms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
    </ul>
</footer>